## linear regression with multiple values

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import math

In [2]:
df = pd.read_csv('HiringProcess.csv')
df

,Test score,IQ test score,English score,Interview score,Years of experiences,Salary($) per month
0,3,9,8,7,1,2300
1,4,8,10,10,3,5000
2,5,5,5,6,2,2400
3,6,6,7,8,2,2500
4,10,10,10,10,2,7000
5,8,9,10,9,1,6500
6,7,7,9,8,2,6200
7,4,4,5,7,2,2100
8,6,7,6,6,3,4000
9,7,6,6,5,2,2700
10,4,7,5,6,1,2400
11,5,7,6,7,2,2500
12,8,7,8,7,2,5600
13,7,7,7,7,1,5400
14,9,9,4,4,2,5000

In [4]:
df.columns

Index(['Test score ', 'IQ test score', 'English score', 'Interview score',
       'Years of experiences', 'Salary($) per month'],
      dtype='object')

In [7]:
linear_regression = linear_model.LinearRegression()
#Train the model
linear_regression.fit(
    # features = input = independence values
        df[['Test score ', 'IQ test score', 'English score', 'Interview score',
        'Years of experiences']],
    # label = output = dependent values 
        df['Salary($) per month']
        );

In [9]:
w = linear_regression.coef_
w

array([514.82609452, 124.43546751, 415.96027295,  -4.66044303,
       118.8448202 ])

In [10]:
b = linear_regression.intercept_
b

-3109.2422517200503

In [11]:
linear_regression.predict([[5,6,7,8,1]])

c:\Users\phanp\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3204.78421258])

In [12]:
b + w[0]*5 + w[1]*6 + w[2]*7 + w[3]*8 + w[4]*1

3204.784212577628

In [13]:
b + np.dot(w,[5,6,7,8,1])

3204.7842125776288